<div class="container">
  <h1>show</h1>
  <br>
    <h2><%= @list.name %></h2>
<br>
<%= link_to "add a movie", new_list_bookmark_path(@list) %>
<%= link_to "Delete", list_bookmark_path(@list) %>
<br>
  <% @list.movies.each do |movie| %>
    <p><% bookmark = Bookmark.find_by(list: @list, movie: movie) %></p>
    <p><%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %></p>
    <p><%= movie.overview %></p>
    <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span>
    <%= bookmark.comment %>
  <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
<br>
<%= link_to "Back", lists_path %>
<h2>Reviews</h2>
